<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
         {
            padding: 60px;
         }
    </style>
    {% block css %}{% endblock %}
    {% block js_first %}{% endblock %}
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Kitty.com</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li></li>
                        </ul>
                        <ul class="nav pull-right">
{% if request.user.is_authenticated %}
                            <li><a href="/accounts/logout">Logout</a></li>
{% else %}
                            <li><a href="/accounts/register">Register</a></li>
                            <li><a href="/accounts/login">Login</a></li>
{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
