{% extends 'main.html' %}
{% block title %}DasProject2 {{ meow.user.username }} {% endblock %}
{% block css %}
    <link href="/static/css/bootstrap-fileupload.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    </style>
{% endblock %}

{% block js_first %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2">
                <h3>Friends</h3>
                <table class="table">
                {% for follower in following %}
                    <tr>
                        <td>
                        <a href="/user/{{follower.user.id}}">{{follower.user.username}}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                
                <br/>
                
                <h3>Suggestions</h3>
                <table class="table">
                {% for person in suggestions %}
                	<tr>
                		<td>
                		<a href="/user/{{person.user.id}}">{{person.user.username}}</a>
                		<td>
                	</tr>
                {% endfor %}
                </table>
            </div>
            <div class="span10">            
                {% if same_user %}
                <form action="/meow/add" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="new_meow_image" /></span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                      </div>
                    </div>

                    <textarea class="span3" name="new_meow" id="new_meow" rows="1" cols="60" maxlength="60"></textarea>
                    <input class="btn btn-primary btn-medium" type="submit" value="Post!">
                </form>
                {% elif am_following %}
                        <form action="/user/unsubscribe/{{user_id}}" method="POST">{% csrf_token %}
                        <input type="submit" value="Unfollow">
                    </form>
                {% else %}
                    <form action="/user/subscribe/{{user_id}}" method="POST">{% csrf_token %}
                        <input type="submit" value="Follow Me">
                    </form>
                {% endif %}

                <div class="media">


                    {% for meow in meows %}
                    <div class="span3">
                        <div class="media-body">
                            <img src="{{meow.image_url}}" />
                            <div class="caption">{{meow.text}}
                                <a href="/user/{{meow.user.id}}">{{meow.user.username}}</a>
                                {{ meow.ts }}
                            </div>
                        </div>

                        {% if same_user and meow.user == logged_user %}
                        <form class="form-inline" action="/meow/remove/{{meow.id}}" method="POST">{% csrf_token %}
                               <button title="Delete" class="pull-right btn btn-mini" type="submit">X</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
