{% extends 'main.html' %}
{% block title %}DasProject2 {{ meow.user.username }} {% endblock %}
{% block css %}
    <link href="/static/css/bootstrap-fileupload.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Followers</h3>
                    <table class="table">
                    {% for follower in followers %}
                        <tr>
                            <td>
                            <a href="/user/{{follower.user.id}}">{{follower.user.username}}</a>
                            </td>                       
                        </tr>
                    {% endfor %}
                    </table>

                <h3>Following</h3>
                    <table class="table">
                    {% for follower in following %}
                        <tr>
                            <td>
                            <a href="/user/{{follower.user.id}}">{{follower.user.username}}</a>
                            </td>                       
                        </tr>
                    {% endfor %}
                    </table>
            </div>
            <div class="span8">            
                {% if same_user %}
                <form action="/meow/add" method="POST">{% csrf_token %}

                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                        <div>
                        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                    </div>

                    <textarea class="span6" name="new_meow" id="new_meow" rows="3"  maxlength="160"></textarea>
                    <input class="" type="file" name="file" id="file"><br>
                </form>
                {% elif am_following %}
                        <form action="/user/unsubscribe/{{user_id}}" method="POST">{% csrf_token %}
                        <input type="submit" value="Unfollow">
                    </form>
                {% else %}
                    <form action="/user/subscribe/{{user_id}}" method="POST">{% csrf_token %}
                        <input type="submit" value="Follow Me">
                    </form>
                {% endif %}
            
                <table class="table table-striped">
                <div class="media">
                    {% for meow in meows %}
                        <tr>
                            <td>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="/user/{{meow.user.id}}">{{meow.user.username}}</a>
                                </h4>
                                <p>{{meow.text}}</p>
                                <p>{{meow.ts}} </p>
                            </div>
                            </td>
                            <td>
                                
                                {% if same_user and meow.user == logged_user %}
                                <form class="form-inline" action="/meow/remove/{{meow.id}}" method="POST">{% csrf_token %}
                                       <button title="Delete" class="pull-right btn btn-mini" type="submit">X</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </div>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_last %}
        <script src="/static/js/jquery.min.js"></script>
{% endblock %}
